@font-face {
    font-family: 'axiforma-bold';
    src: url('../fonts/Axiforma-Bold.woff2') format('woff2'),
         url('../fonts/Axiforma-Bold.woff') format('woff'),
         url('../fonts/Axiforma-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'axiforma-black';
    src: url('../fonts/Axiforma-Black.woff2') format('woff2'),
         url('../fonts/Axiforma-Black.woff') format('woff'),
         url('../fonts/Axiforma-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    
}

@font-face {
    font-family: 'axiforma-medium';
    src: url('../fonts/Axiforma-Medium.woff2') format('woff2'),
         url('../fonts/Axiforma-Medium.woff') format('woff'),
         url('../fonts/Axiforma-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'axiforma-semibold';
    src: url('../fonts/Axiforma-SemiBold.woff2') format('woff2'),
         url('../fonts/Axiforma-SemiBold.woff') format('woff'),
         url('../fonts/Axiforma-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'axiforma-regular';
    src: url('../fonts/Axiforma-Regular.woff2') format('woff2'),
         url('../fonts/Axiforma-Regular.woff') format('woff'),
         url('../fonts/Axiforma-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}